form {
    color: white;
    width: 450px;
    background-color: rgb(0, 128, 0);
    border: 10px solid rgb(176, 196, 222);
    border-radius: 5px;
    padding: 40px;
}

label {
    text-indent: 50px;
    display: inline-block;
    width: 150px;
    height: 30px;
}

legend {
    font-weight: bold;
}

input {
    border: 3px solid red;
    width: 250px;
}

fieldset {
    border: 0;
}

